.archive {
  ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 16px;
    li {
      
      @include pc-layout {
        width: calc(50% - 8px);
      }
  
      @include sp-layout {
        width: 100%;
      }
      margin: 0 0 16px;
      border-top-style: solid;  
      border-top-width: 2px;

      @include card-light;
      h3 {
        padding: $card-padding;
        font-size: $font-size-large;
        font-weight: $font-weight-normal;
        line-height: 1.8;
      }
      .post-meta {
        display: flex;
        padding: $card-padding;
        height: 50px;
        border-top: 1px solid $bg-dark;
        word-break: keep-all;

        @include sp-layout {
          overflow-x: auto;
          max-width: 94vw;
        }
        & > span {
          display: flex;
          align-items: center;
          margin-right: 12px;
          &:last-child {
            margin-right: 0;
          }
          span {
            padding-right: 6px;
            &:last-child {
              padding-right: 0;
            }
          }
          .icon {
            margin-right: 4px;
          }
          .icon-fire {
            margin-top: -2px;
          }
        }
      }
    }
  }
  .btn-group {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 12px;
  }
}
